ul.categories {
    padding: 1em;
    margin-top:0;
}
ul.categories li {
    padding: 12px;
    background-color: #f4f4f4;
    border: solid white;
    list-style-type: none;
    height: 1.5em;
    color: #949494;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border-bottom-width: 1px;
    display: flex;
}

ul.categories li.selected {
    color: white;
    font-weight: bold;
    background-color: #2d86ca;
}

ul.categories li .category-image {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.categories li .category-container {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

ul.categories li .percentage-container {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.category-image svg {
    fill: #949494;
}

li.selected .category-image svg {
    fill: #FFF;
}