.App {
    font-family: HelveticaNeue, sans-serif;
    text-align: center;
}

.live-chat-container {
    padding-bottom: 20px;
}

.live-chat-message {
    margin: 15px 30px;
    font-family: HelveticaNeue-Light;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.78;
    text-align: center;
    color: #333333;
}