.App-header {
    position: relative;
    padding: 13px;
    color: #00aaf3;
    font-size: 18px;
    font-weight: 500;
    z-index: 999;
}

.App-header svg {
    position: absolute;
    left: 13px;
}

.App-header .back {
    display: inline;
}

.App-header .back .back-link-text {
    position: absolute;
    left: 35px;
    font-family: HelveticaNeue;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #26336e;
    top: 17px;
}
